#Open-Pet-Popup
{
	position: relative;
	left: 45vw;
}

#back
{

	position: relative;
	left: 50vw;

}


#SpecialPopup
{
	display: none;
	width: 250px;
	position: fixed;
	left: 8vw;
	border: 3px solid #f1f1f1;
	bottom: 40vh;
	z-index: 9;

}


#SpecialPopup label
{
	white-space: nowrap;


}

#SpecialPopup label input
{

	position: relative;
	left : 15vw;
	top : 2vh

}





#Pet-Popup {
	display: none;
	border-color: grey;
	position: relative;
	height: 200px;
	width: 700px;
	
	
}

.popup-content {
	position: relative;
	padding: 20px;
	margin: 0 auto;
	background-color: white;
	width: 400px;
	background-image: url("../static/Images/Logo-small.png");
	bottom: 50vh;
	background-repeat: no-repeat;
	left: 8vw;

}


 

.form-fields
{
	position: relative;
	left: 45vw;

}




label
{
	display: grid;
	grid-template-columns: 5vh;
}


.form-fields-pet input
{
	width: 200px;

}

#id_img
{
	width: 500px;
}
