#Open-Pet-Popup
{
	position: relative;
	left: 45vw;
}

#back
{

	position: relative;
	left: 50vw;

}

#Pet-Popup {
	display: none;
	border-color: grey;
	position: relative;
	height: 200px;
	width: 700px;
	
	
}

.popup-content {
	position: relative;
	padding: 20px;
	margin: 0 auto;
	background-color: white;
	width: 400px;
	background-image: url("../static/Images/Logo-small.png");
	bottom: 50vh;
	background-repeat: no-repeat;
	left: 8vw;

}


 

.form-fields
{
	position: relative;
	left: 45vw;

}




label
{
	display: grid;
	grid-template-columns: 5vh;
}


.form-fields-pet input
{
	width: 200px;

}

#id_img
{
	width: 500px;
}
