


#Pet-Popup {
	display: none;
	background-color: green;
	border-color: grey;
	position: absolute;
	height: 100vh;
	width: 100%;
	background-image: url("Images/logo.png");
}

.popup-content {
	position: relative;
	padding: 20px;
	margin: 0 auto;
	background-color: white;
	width: 400px;
	top: 2vh;
}


 

.form-fields
{
	display: grid;

	
	position: relative;
	top:2vh;
	left: 40vw;

	grid-template-columns: repeat(1, 20vw [col-start]);
	grid-template-rows: 0.5rem 1rem 7rem 5rem;
	gap: 0px 0px;
}

#id_password1
{
	position: relative;
	bottom: 5vh;
}



