body {
	font-family: arial;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


#Pet-Popup {
	display: none;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	height: 100vh;
	width: 100%;
}

.popup-content {
	position: relative;
	padding: 20px;
	margin: 0 auto;
	background-color: white;
	width: 400px;
	top: 5vh;
}


#id_password
{
	width: 200px;
}